@media only screen and (min-width: 0rem) {
    #cta {
        position: relative;
        padding: 3.125rem 0;
    }
    #cta .container {
        text-align: center;
    }
    #cta picture {
        z-index: -2;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    #cta picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #cta .title {
        position: relative;
        margin-bottom: 2.25rem;
        font-size: min(9vw, 3rem);
        line-height: 1.20833333em;
        font-weight: 900;
        color: #fff;
        text-align: center;
    }
    #cta p {
        opacity: 1;
        margin: auto;
        margin-bottom: 2.25rem;
        max-width: 37.375rem;
        width: 96%;
        color: #fff;
        text-align: center;
    }
    #cta:before {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        opacity: 0.7;
        display: block;
        background: #000;
        height: 100%;
        width: 100%;
    }
}
@media only screen and (min-width: 64rem) {
    #cta {
        padding: 10.5rem 0;
    }
}
@media only screen and (min-width: 1300px) {
    #cta {
        position: relative;
        margin-top: 6.25rem;
    }
    #cta .container {
        margin: auto;
        width: 90.0625%;
    }
    #cta picture {
        left: 50%;
        transform: translateX(-50%);
        width: 90.0625%;
    }
    #cta picture:before {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        opacity: 0.7;
        display: block;
        background: #000;
        height: 100%;
        width: 100%;
    }
    #cta:before {
        display: none;
    }
    #cta:after {
        z-index: -3;
        position: absolute;
        bottom: 0;
        left: 50%;
        content: "";
        opacity: 1;
        transform: translateX(-50%);
        display: block;
        background: url("/assets/svgs/cta-squares.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 69.25rem;
        width: 125rem;
    }
}
@media only screen and (min-width: 0rem) {
    body.dark-mode #cta:after {
        display: none;
    }
}
@media only screen and (min-width: 0rem) {
    #cta-2293 {
        padding: var(--sectionPadding);
        background-color: #00091d;
        border-bottom: 1px solid #2d2f2e;
        position: relative;
        z-index: 1;
    }
    #cta-2293 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: clamp(3rem, 6vw, 4rem);
        position: initial;
    }
    #cta-2293 .cs-content {
        text-align: left;
        width: 100%;
        display: contents;
        flex-direction: column;
        align-items: flex-start;
    }
    #cta-2293 .cs-topper {
        color: var(--secondary);
    }
    #cta-2293 .cs-title {
        color: var(--bodyTextColorWhite);
    }
    #cta-2293 .cs-text {
        margin-bottom: 2rem;
        color: #e7e7e8;
    }
    #cta-2293 .cs-button-solid img {
        filter: brightness(0) invert(1);
    }
    #cta-2293 .cs-button-solid:hover {
        background-color: #fff;
        color: var(--headerColor);
    }
    #cta-2293 .cs-button-solid:hover img {
        filter: none;
    }
    #cta-2293 .cs-button-solid {
        order: 3;
    }
    #cta-2293 .cs-card-group {
        width: 100%;
        margin: 0 0 -1rem;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: clamp(2rem, 5vw, 3rem);
    }
    #cta-2293 .cs-item {
        list-style: none;
        display: flex;
        grid-column: span 12;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }
    #cta-2293 .cs-wrapper {
        width: 4.5rem;
        height: 4.5rem;
        border: 1px solid #2d2f2e;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #cta-2293 .cs-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #cta-2293 .cs-header {
        font-size: 1.25rem;
        line-height: 1.5em;
        font-weight: 400;
        margin: 0 0 0.5rem;
        color: var(--bodyTextColorWhite);
        font-family: var(--headerFontFamily);
    }
    #cta-2293 .cs-link {
        font-size: 1rem;
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: #e7e7e8;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        transition: color 0.3s;
    }
    #cta-2293 .cs-link:hover {
        color: var(--primary);
    }
    #cta-2293 .cs-social-links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 1.25rem;
        row-gap: 0.5rem;
    }
    #cta-2293 .cs-background {
        width: 39.0625rem;
        max-width: 80%;
        height: auto;
        display: block;
        position: absolute;
        bottom: -6.25rem;
        right: -6.25rem;
        z-index: -1;
    }
    #cta-2293 .cs-background img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        object-position: top;
    }
}
@media only screen and (min-width: 550px) {
    #cta-2293 .cs-card-group {
        column-gap: clamp(1.25rem, 4vw, 2rem);
    }
    #cta-2293 .cs-item {
        grid-column: span 6;
    }
    #cta-2293 .cs-social-links {
        flex-direction: column;
        align-items: flex-start;
    }
}
@media only screen and (min-width: 64rem) {
    #cta-2293 .cs-container {
        flex-direction: row;
    }
    #cta-2293 .cs-content {
        width: 63%;
        max-width: 26.875rem;
        display: flex;
    }
    #cta-2293 .cs-title {
        font-size: clamp(1.9375rem, 3.9vw, 2.0625rem);
    }
    #cta-2293 .cs-background {
        width: 39.0625rem;
        max-width: 80%;
        height: auto;
        display: block;
        position: absolute;
        bottom: -9.375rem;
        right: 0;
        z-index: -1;
    }
    #cta-2293 .cs-background img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        object-position: top;
    }
}
@media only screen and (min-width: 81.25rem) {
    #cta-2293 .cs-container {
        position: relative;
        z-index: 1;
    }
    #cta-2293 .cs-item {
        flex-direction: row;
    }
    #cta-2293 .cs-background {
        right: 0;
    }
}
@media only screen and (min-width: 0rem) {
    body.dark-mode #cta-2293 {
        background-color: rgba(0, 0, 0, 0.6);
    }
}
@media only screen and (min-width: 0rem) {
    #cs-footer-2293 {
        padding: var(--sectionPadding);
        padding-bottom: 1.5rem;
        background-color: #00091d;
    }
    #cs-footer-2293 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
    }
    #cs-footer-2293 .cs-top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
    #cs-footer-2293 .cs-logo-group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
    }
    #cs-footer-2293 .cs-logo {
        width: 100%;
        height: auto;
    }
    #cs-footer-2293 .logo-text {
        margin: 1rem 0;
    }
    #cs-footer-2293 .cs-text {
        color: #e7e7e8;
    }
    #cs-footer-2293 .cs-ul {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
        row-gap: 0.75rem;
    }
    #cs-footer-2293 .cs-li {
        font-size: 1rem;
        line-height: 1.5em;
        list-style: none;
        margin: 0;
    }
    #cs-footer-2293 .cs-header {
        font-size: 1.25rem;
        line-height: 1.2em;
        margin: 0 0 0.5rem;
        color: var(--bodyTextColorWhite);
        font-weight: 400;
        font-family: var(--headerFontFamily);
        display: block;
        grid-column: span 2;
    }
    #cs-footer-2293 .cs-header .cs-link {
        font-size: 1.25rem;
    }
    #cs-footer-2293 .cs-link,
    #cs-footer-2293 .cs-copyright {
        text-decoration: none;
        color: #e7e7e8;
        transition: color 0.3s;
    }
    #cs-footer-2293 .cs-link:hover,
    #cs-footer-2293 .cs-copyright:hover {
        color: var(--primary);
    }
    #cs-footer-2293 .cs-subscribe-group {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    #cs-footer-2293 .cs-subscribe-group .cs-header {
        margin: 0;
    }
    #cs-footer-2293 .cs-form {
        width: 100%;
        display: flex;
    }
    #cs-footer-2293 .cs-input {
        width: 100%;
        padding-left: 1.25rem;
        background-color: #e7e7e8;
        color: #585b5d;
        border: none;
    }
    #cs-footer-2293 .cs-button-solid {
        min-width: auto;
        border: none;
    }
    #cs-footer-2293 .cs-bottom {
        width: 100%;
        max-width: 80rem;
        margin: clamp(3.75rem, 7vw, 5rem) auto 0;
        padding-top: 1.5rem;
        border-top: 1px solid #2d2f2e;
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
    }
    #cs-footer-2293 .cs-credit,
    #cs-footer-2293 .cs-bottom-link,
    #cs-footer-2293 .cs-credit-link {
        font-size: 1rem;
        line-height: 1.5em;
        text-decoration: none;
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    #cs-footer-2293 .cs-credit {
        width: 100%;
    }
    #cs-footer-2293 .cs-credit-link {
        font-size: 1rem;
        line-height: 1.5em;
        text-decoration: none;
        width: auto;
        margin: 0;
        display: inline-block;
        position: relative;
    }
    #cs-footer-2293 .cs-credit-link:hover {
        color: var(--primary);
    }
    #cs-footer-2293 .cs-bottom-links {
        width: 100%;
        display: flex;
    }
    #cs-footer-2293 .cs-bottom-link {
        display: flex;
        align-items: center;
    }
    #cs-footer-2293 .cs-bottom-link:hover {
        color: var(--primary);
    }
    #cs-footer-2293 .cs-bottom-link:last-of-type:before {
        content: "";
        width: 1px;
        height: 0.875rem;
        margin: 0 0.75rem;
        background: currentColor;
        opacity: 1;
        display: block;
    }
}
@media only screen and (min-width: 600px) {
    #cs-footer-2293 {
        padding-top: 0;
    }
    #cs-footer-2293 .cs-top {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 0;
        align-items: stretch;
    }
    #cs-footer-2293 .cs-logo-group {
        width: 48%;
        padding: var(--sectionPadding);
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 2rem;
        order: 1;
    }
    #cs-footer-2293 .cs-ul {
        width: 60%;
        padding-top: 2rem;
        margin-right: auto;
        order: 3;
        position: relative;
    }
    #cs-footer-2293 .cs-ul:before {
        content: "";
        width: 200vw;
        height: 1px;
        background: #2d2f2e;
        opacity: 1;
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    #cs-footer-2293 .cs-li {
        max-width: 11.1875rem;
    }
    #cs-footer-2293 .cs-subscribe-group {
        width: 45%;
        padding-left: clamp(1.5rem, 2.5vw, 3rem);
        border-left: 1px solid #2d2f2e;
        justify-content: center;
        order: 2;
    }
    #cs-footer-2293 .cs-bottom {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    #cs-footer-2293 .cs-credit {
        text-align: left;
    }
    #cs-footer-2293 .cs-bottom-links {
        justify-content: flex-end;
    }
}
@media only screen and (min-width: 64rem) {
    #cs-footer-2293 .cs-top {
        padding: var(--sectionPadding);
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 3rem;
        overflow: hidden;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: 0;
    }
    #cs-footer-2293 .cs-logo-group {
        width: 100%;
        max-width: 27.0625rem;
        padding: 0;
        padding-right: clamp(1.5rem, 2.5vw, 3rem);
    }
    #cs-footer-2293 .cs-ul {
        width: 40%;
        max-width: 32.6875rem;
        padding: 0;
        padding-left: clamp(1.5rem, 2.5vw, 3rem);
        padding-right: clamp(1.5rem, 2.5vw, 3rem);
        order: 2;
    }
    #cs-footer-2293 .cs-ul:before {
        content: "";
        width: 1px;
        height: 100vw;
        background: #2d2f2e;
        opacity: 1;
        display: block;
        position: absolute;
        top: -12.5rem;
        left: 0;
    }
    #cs-footer-2293 .cs-subscribe-group {
        width: 30%;
        border: none;
        order: 3;
        position: relative;
        z-index: 1;
    }
    #cs-footer-2293 .cs-subscribe-group:before {
        content: "";
        width: 1px;
        height: 100vw;
        background: #2d2f2e;
        opacity: 1;
        display: block;
        position: absolute;
        top: -12.5rem;
        left: 0;
    }
    #cs-footer-2293 .cs-bottom {
        margin-top: 0;
    }
}
@media only screen and (min-width: 0rem) {
    body.dark-mode #cs-footer-2293 {
        background-color: rgba(0, 0, 0, 0.6);
    }
}
